<mat-toolbar color="primary">
  <span>Aste app</span>
</mat-toolbar>

<div class="container">
  <mat-card class="card">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput type="search" [(ngModel)]="searchQuery">
        </mat-form-field>
      <button class="search-button" (click)="search()" class="full-width" mat-flat-button color="primary">Search</button>
    <mat-card-content>
      <ng-container *ngIf="results && !isLoading">
        <div *ngFor="let item of results">
          
          <div *ngIf="item.data">
            <div *ngFor="let event of item.data">
              <h2>{{event.name?.fi}}</h2>
              <p>{{event.short_description?.fi}}</p>
              <hr>
            </div>
          </div>

          <div *ngIf="item.records">
            <p>records</p>
            <div *ngFor="let record of item.records">
              <h2>{{record.title}}</h2>
              <span *ngFor="let sub of record.subjects">{{sub}} </span>
              <hr>
            </div>
          </div>

        </div>
      </ng-container>

      <ng-container *ngIf="isLoading">
        <div class="spinner-container">
          <mat-spinner></mat-spinner>
        </div>
      </ng-container>

    </mat-card-content>
    <mat-card-actions>
    
    </mat-card-actions>
  </mat-card>
</div>
